@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')
@import url('https://fonts.googleapis.com/css?family=Roboto');

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 24px;
}

code, kbd, pre, samp {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 24px;
}

blockquote {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}


h2 {
    font-size: 28px;
    font-weight: bold;
}


h1 {
    font-size: 46px;
    font-weight: bold;
}


.wy-nav-content {
    max-width: 800px !important;
}
