@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Roboto+Mono:wght@400;600&display=swap');

code {
    color: #039bea !important;
    background-color: #f1fcff !important;
}

:root{
    --headercolor: #1a5777;
    --highlightcolor: #1a5777;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: var(--headercolor) !important;
}

body {
    font-family: 'Commissioner', sans-serif;
}

code, kbd, pre, samp {
    font-family: 'Roboto Mono', monospace;
}

.content {
    width: 60em;
}

.bd-sidebar {
    padding-top: 0em;
    padding-right: 2em;
    padding-left: 2em;
}

#site-navigation div.navbar_extra_footer {
    font-size: .6em;
}
