@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

code {
    color: #dd3636 !important;
    background-color: #fbe9e9 !important;
}

:root{
    --headercolor: rgb(100, 120, 130);
    --highlightcolor: #126189;
}


h1 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    color: var(--headercolor) !important;
}

h2 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    color: var(--headercolor) !important;
}

h3 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    color: var(--headercolor) !important;
}

.navbar-nav > .active > .nav-link {
    color: var(--highlightcolor) !important;
}

.toc-entry > .nav-link.active {
    color: var(--highlightcolor) !important;
}

.bd-sidebar .nav > .active:hover > a, .bd-sidebar .nav > .active > a {
    color: var(--highlightcolor) !important;
}

.toc-entry a {
    padding: 0.4rem 1.0rem;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1600px;
}
